<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="home.css" rel="stylesheet">
</head>
<body>
    <div id="view" style="text-align: center;">
        <br><br><br><br><br><br><br><br>
        <h1>LIBRARY's APP</h1>
        <h3>Selamat datang di aplikasi library</h3>
        <p>akses</p>
        <a href="admins/login">Login Sebagai Admin</a>
        <a href="users/login">Login Sebagai User</a>
    
    </div>
 

</body>
</html>