<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Admin</h1><br><br>
    <form action="login" method="POST">
        <%if(alert){%>
            <p style="color: red;"><%= alert%></p>
        <%}%>
        
        <label for="email">Email</label><br>
        <input type="text" name="email" placeholder="ex: budi@gmail.com"><br><br>

        <label for="password">Password</label><br>
        <input type="password" name="password"><br><br>

        <input type="submit" value="login"><br><br><br><br>

        <p>Belum punya akun?</p><br>
        <a href="register">register</a>
    </form>
</body>
</html>