<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register User</h1><br><br>
    <%if(alert){%>
        <p style="color: red;"><%= alert%></p>
    <%}%>
    <form action="register" method="POST">
        <label for="firstName">First Name</label><br>
        <input type="text" name="firstName" placeholder="ex: John"><br><br>

        <label for="lastName">Last Name</label><br>
        <input type="text" name="lastName" placeholder="ex: Peter"><br><br>

        <label for="email">Email</label><br>
        <input type="text" name="email" placeholder="ex: budi@gmail.com"><br><br>

        <label for="password">Password</label><br>
        <input type="password" name="password" placeholder="minimal 8 huruf"><br><br>

        <input type="submit" value="register">
        
    </form>
</body>
</html>