<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1px">
        <tr>
            <th>Nama Buku</th>
            <th>Stock</th>
            <th>Last Update</th>
        </tr>
        <% for(let i = 0; i < dataBook.length;i++){%>
            <%if(dataBook[i].stock > 0){%>
        <tr>
            <td><%= dataBook[i].tittle%></td>
            <td><%= dataBook[i].stock%></td>
            <td><%= lastUpdate[i]%></td>
        </tr>
            <%}%>
        <%}%>
    </table>
</body>
</html>